@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;0,700;1,400&family=Montserrat:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e5e5e5; /* Серый фон для десктопа */
}

/* Скрываем скроллбар для эстетики */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}